<div class="input-wrapper" [class.no-label]="!label">

  <input type="file"
         [id]="id + 'input'"
         [placeholder]="placeholder"
         [multiple]="multiple !== undefined"
         [accept]="accept"
         class="file-input with-icon"
         #file
         (change)="checkSelectedFiles()"
         (blur)="onTouched()">
  <span class="input-icon no-pointer">
    <span class="rb-ic rb-ic-upload"></span>
  </span>

  <label class="rb-btn rb-select-btn input" [for]="id + 'input'">{{filePreview}}</label>

  <label class="label" [for]="id + 'input'">
    {{!isLabelTemplate()?label:''}}
    <ng-container *ngIf="isLabelTemplate()">
      <ng-container *ngTemplateOutlet="label"></ng-container>
    </ng-container>
  </label>
  <span class="input-background"></span>
</div>
<rb-form-errors [messages]="messages"></rb-form-errors>
